
<div class="row-is-full content has-text-centered text-decoration-none">
    <p class="text-decoration-none">
      <strong><i class="fas fa-glass-sneakers"></i>  Sneakers Inventory</strong> by <a class="text-decoration-none" href="https://github.com/UofTL">EGC</a> 
      <a class="text-decoration-none" href="https://github.com/UofTL/sneakers-draft.git"><i class="fab fa-github"></i></a> 
    </p>
  </div>