
<div class="row-is-full content has-text-centered text-decoration-none">
    <p class="text-decoration-none">
      <strong><i class="fas fa-glass-sneakers"></i>  Sneakers Collection</strong> by <a class="text-decoration-none" href="https://github.com/UofTL">Eleonore Caclard</a>- <a class="text-decoration-none" href="https://github.com/sumantpaldm">Sumant Singh</a> - <a class="text-decoration-none" href="https://github.com/billgeng">Bill Geng</a>- <a class="text-decoration-none" href="https://github.com/Jahneo">Neil Hall</a> - <a class="text-decoration-none" href="https://github.com/jasongrossman">Jason Grossman</a> | source code: 
      <a class="text-decoration-none" href="https://github.com/UofTL/the-sneakers-collector.git"><i class="fab fa-github"></i></a> 
    </p>
  </div>