<div class="row m-3">
                    <div class="col-sm">
                        <img id="sneakers-pic" class="rounded" src="/images/{{name}}.jpg" alt="Featured 2">
                    </div>
                    

