<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>The Sneakers Collector</title>
</head>

<body>

    <!-- background video -->

    <video playsinline autoplay muted loop id=" myVideo" src="/videos/background-video.mp4"></video>


    <!-- Header -->

    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                <img src="/images/logo2.png" width="70" height="30" class="d-inline-block align-top"
                    alt="the sneakers collector">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"> <b> Home </b><span class="sr-only">(current)</span></a>
                    </li>

                    {{#if loggedIn}}

                    <li class="nav-item">
                        <a class="nav-link" href="collection"><b>Collection</b></a>
                    </li>

                    <li class="nav-item">
                        <a id="logout" class="nav-link"><b>Logout</b></a>
                    </li>

                    {{else}}

                    <li class="nav-item">
                        <a class="nav-link" href="/login"><b>Login</b></a>
                    </li>

                    {{/if}}

                </ul>
                <span class="navbar-text">
                    <b> The Sneakers Collector </b>
                </span>
            </div>
        </nav>
    </header>

    <!-- Hero -->

    <!-- Main -->
    <div class="container">
        <main class="p-3 main ">
            {{{ body }}}
        </main>
    </div>



    <footer>
        {{>footer}}
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    {{!--
    <script src="/javascript/script.js"></script> --}}
</body>

</html>