body{
    color: black;
}
header {
    text-align: center;
    background-color: #be9e44;
}

header img {
    border-radius: 10%;
}

.main {
    border: solid 5px #be9e44;
    border-radius: 20px;
    margin: 20px;
    padding: 15px 0 15px 0;
}

.main h2 {
    color: black;
}

footer {
    text-align: center;
    text-decoration: none;
}

.comment-body {
    height: 120px;
    width: 590px;
}

#sneakers-pic {
    width: 200px;
    height: 300px;
}

.inv-head {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #be9e44;
}